// Colors //
$white: #fff;
$black: #000;
$blue-black: #1b2343;
$grey: #e7ecef;
$dark-grey: #465153;
$light-grey: #7e8c92;
$lighter-grey: #d6dadc;

$mist: #bdcbd4;
$geyser: #d6dfe4;
$blue: #5277ef;
$dark-blue: #174fa2;
$facebook-blue: #3b5998;
$light-blue: #66a1ff;
$azure: #00b1b5;
$dark-azure: #349ab7;
$alice-blue: #f8f9fb;

$red: #ff1145;
$dark-red: #be113a;
$firebrick: #ff204e;
$purple: #9541a6;
$peach: #fee8eb;

// Font Names
$alef: 'alef';
$almoni: 'almoni-dl';
$stanga: 'stanga';
$sans-serif:  Arial, Verdana, sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;
$boldest: 900;

// Default font stack
body {
  font-family: Alef, Arial, sans-serif;
}
